= render "home/header"
.list2
  .list__bar
  .list__title
    = "#{@company.name}の会社情報"
  .list__blank
  .menu
    .menu__top
      = link_to "会社情報", "/lists/#{@company.id}/company", class: "menu__top__select"
      = link_to "口コミを投稿する", "/lists/#{@company.id}/kuchikomi", class: "menu__top__select-gray2"
      = link_to "インタビュー", "#", class: "menu__top__select-gray3"
      = link_to "フォトギャラリー", "#", class: "menu__top__select-gray4"
    .menu__box
      .menu__box__text
        = "#{@company.text}"
      .menu__box__image
        = image_tag "#{@company.image}", width: "300px", height: "200px"
  .list__title
    = "#{@company.name}の口コミ"
  - @comments.each do |comment|
    .list__blank
    .company2
      .company__top
        - if comment.age == 20 && comment.gender == "男性" || comment.age == 30 && comment.gender == "男性"
          .company__top__image
            = image_tag "business.png", width: "50px", height: "60px"
        - elsif comment.age == 40 && comment.gender == "男性" || comment.age == 50 && comment.gender == "男性" || comment.age == 60 && comment.gender == "男性"
          .company__top__image
            = image_tag "ojisan.png", width: "50px", height: "60px"
        - elsif comment.age == 70 && comment.gender == "男性"
          .company__top__image
            = image_tag "ojiisan03.png", width: "50px", height: "60px"
        - elsif comment.age == 20 && comment.gender == "女性" || comment.age == 30 && comment.gender == "女性"
          .company__top__image
            = image_tag "business_woman.png", width: "50px", height: "60px"
        - elsif comment.age == 40 && comment.gender == "女性" || comment.age == 50 && comment.gender == "女性" || comment.age == 60 && comment.gender == "女性"
          .company__top__image
            = image_tag "obasan.png", width: "50px", height: "60px"
        - elsif comment.age == 70 && comment.gender == "女性"
          .company__top__image
            = image_tag "obaachan.png", width: "50px", height: "60px"
        .company__top__box
          .company__top__box__gender
            = "#{comment.age}代 #{comment.gender}"
          .company__top__box__title
            = comment.title
          .company__top__box__evaluation
            - result = comment.tel_mail.to_f + comment.estimate.to_f + comment.operator.to_f + comment.service.to_f
            = "評価点数： #{result / 4}点"
      .company__list
        .company__list__a
          = "電話・メール対応： #{comment.tel_mail}点"
        .company__list__a
          = "見積もり対応： #{comment.estimate}点"
        .company__list__a
          = "作業員： #{comment.operator}点"
        .company__list__a
          = "サービス： #{comment.service}点"
      .company2__bottom
        .company2__bottom__inner
          .company__bottom__inner__evaluation
            %i.far.fa-comments
            コメント
          .company__bottom__inner__day
            = "投稿日： #{comment.created_at.strftime("%Y/%m/%d")}"
        .company__bottom__text
          = comment.text
  = render "home/footer"