= render "home/header"
.list
  .list__bar
  .list__title
    引越し業者一覧
  .list__blank
  = form_with(url: search_lists_path, local: true, method: :get) do |form|
    .list__base
      = form.text_field :keyword, placeholder: "引越し業者を検索する", class: "list__base__form"
      = form.submit "検索", class: "list__base__btn"
  .list__blank
  .list__description
    .list__description__title
      myappは10社の引越し業社から見積もりが取れます！
    .list__description__text
      テレビCMでおなじみの大手引越し業者から、地域密着型の地元の人達から高い評判を得ている業者まで、全国の引っ越し業者と提携しています。
      この見積もりサービスは、これらの引越会社に対して見積りを依頼し、複数の見積り料金を比較することで、最安値の引越し業者を簡単に見つけることができます。
  - @company.each do |company|
    - unless Comment.where(company_id: company.id).last(1).empty?
      - @a = Comment.where(company_id: company.id).last(1)
      .list__blank
      .company
        .company__top
          .company__top__image
            = image_tag "#{company.image}", width: "90px"
          .company__top__box
            = link_to "#{company.name}", "/lists/#{company.id}/company", class: "company__top__box__title"
            .company__top__box__evaluation
              総合評価⭐️⭐️⭐️⭐️⭐️
        .company__list
          .company__list__a
            電話・メール対応
          .company__list__a
            見積もり対応
          .company__list__a
            作業員
          .company__list__a
            サービス
        .company__bottom
          .company__bottom__box
            .company__bottom__box__image
            .company__bottom__box__text
              .company__bottom__box__text__container
                .company__bottom__box__text__container__kuchi
                  最新の口コミ
                .company__bottom__box__text__container__title
                  = @a[0]["title"]
          .company__bottom__inner
            .company__bottom__inner__evaluation
              評価点数⭐️⭐️⭐️⭐️⭐️
            .company__bottom__inner__day
              投稿日： 2020年2月22日
          .company__bottom__text
            = @a[0]["text"]
  = render "home/footer"