.header
  .header__box
    .header__box__top
      .header__box__top__logo
        = image_tag "hikoshi3.png", width: "60px"
        = link_to "MyApp", root_path
      .header__box__top__text
        = link_to "引越し見積もりをする", "#"
        = link_to "会社概要", "#"
        = link_to "お問い合わせ", "#"
    .header__box__bottom
      .header__box__bottom__box
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "シミュレーション", root_path, class: "header__box__bottom__box__text"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "引越し業者一覧", lists_path, class: "header__box__bottom__box__text"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "業者ランキング", ranking_index_path, class: "header__box__bottom__box__text"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "引越し口コミ", "#", class: "header__box__bottom__box__text"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "単身の引越し", "#", class: "header__box__bottom__box__text"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "費用と料金相場", "#", class: "header__box__bottom__box__text"
        .header__box__bottom__box__border

        