.header
  .header__box
    .header__box__top
      .header__box__top__logo
        = image_tag "hikoshi3.png", width: "60px"
        = link_to "myapp", root_path
      .header__box__top__text
        = link_to "引越し見積もりをする", "#"
        = link_to "会社概要", "#"
        = link_to "お問い合わせ", "#"
    .header__box__bottom
      .header__box__bottom__box
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "シミュレーション", root_path
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "引越し業者一覧", lists_path
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "業者ランキング", "#"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "引越し口コミ", "#"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "単身の引越し", "#"
        .header__box__bottom__box__border
        .header__box__bottom__box__text
          = link_to "費用と料金相場", "#"
        .header__box__bottom__box__border

        