= render "header"
.main-t
  .main2__box__bar
  .main2__box__info
    .main2__box__info__image
      = image_tag "samurai.png", width: "100px"
    .main2__box__info__text
      引越しの見積もりをシミュレーション！
  .main2__box__info__bar
    .main2__box__info__bar__text
      .main2__box__info__bar__text__first
        お引越し日と
        %br
        ご家族の人数構成
      .main2__box__info__bar__text__first
        現在のご住所と
        %br
        お引越し先のご住所
      .main2__box__info__bar__text__third
        運搬する
        %br
        お荷物を選択
      .main2__box__info__bar__text__forth
        お見積もり結果
    .main2__box__info__bar__bottom
      .main2__box__info__bar__bottom__sircle
      .main2__box__info__bar__bottom__bar
      .main2__box__info__bar__bottom__sircle
      .main2__box__info__bar__bottom__bar-gray
      .main2__box__info__bar__bottom__sircle-gray
      .main2__box__info__bar__bottom__bar-gray
      .main2__box__info__bar__bottom__sircle-gray
  = form_for(@user, url: simulator4_home_index_path, method: :get) do |f|
    - if @user.errors.any?
      - if @user.n_b_floor.blank? && @user.n_floor.blank?
        .error
          %i.fas.fa-exclamation-triangle
          = @n_b_floor
          %i.fas.fa-exclamation-triangle
          = @n_floor
      - elsif @user.n_b_floor.blank?
        .error
          %i.fas.fa-exclamation-triangle
          = @n_b_floor
      - elsif @user.n_floor.blank?
        .error
          %i.fas.fa-exclamation-triangle
          = @n_floor
    .main3__box__contaner
      .main2__box__contaner__top
        現在のご住所
      .main3-title
        .main3-title__left
          郵便番号
        .main3-title__right
          = f.text_field :n_zipcode, class: "main3-title__right__input", placeholder: '任意です　例) 123-1234'
      .main3-title
        .main3-title__left
          都道府県
        .main3-title__right
          = f.collection_select :n_prefecture, Prefecture.all, :id, :name, {prompt: "選択"}, {class: "main3-title__right__prefecture"}
      .main3-title
        .main3-title__left
          建物タイプ
        .main3-title__right
          = f.radio_button :n_building, :a
          = f.label :n_building, 'マンション', value: :a
          = f.radio_button :n_building, :b
          = f.label :n_building, 'アパート', value: :b
          = f.radio_button :n_building, :c
          = f.label :n_building, '戸建て', value: :c
          = f.radio_button :n_building, :d
          = f.label :n_building, 'タワーマンション', value: :d
          = f.radio_button :n_building, :e, checked: true
          = f.label :n_building, 'その他', value: :e
      .main3-title
        .main3-title__left
          建物階数
        .main3-title__right
          = f.select :n_b_floor, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11以上',11]], {prompt: "選択"}, {class: "main3-title__right__floor"}
          階建て
          = f.select :n_floor, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11以上',11]], {prompt: "選択"}, {class: "main3-title__right__floor2"}
          階から引越し
      .main3-title
        .main3-title__left
          エレベーター
        .main3-title__right
          = f.radio_button :n_elevator, :a, checked: true
          = f.label :n_elevator, 'あり', value: :a
          = f.radio_button :n_elevator, :b
          = f.label :n_elevator, 'なし', value: :b
      .main3-title
        .main3-title__left
          道幅
        .main3-title__right-road
          = f.radio_button :n_roadwidth, :a, checked: true
          = f.label :n_roadwidth, '自動車2台が余裕ですれ違える', value: :a
          = f.radio_button :n_roadwidth, :b
          = f.label :n_roadwidth, '自動車2台がギリギリですれ違える', value: :b
          = f.radio_button :n_roadwidth, :c
          = f.label :n_roadwidth, '自動車1台が通行できる', value: :c
          = f.radio_button :n_roadwidth, :d
          = f.label :n_roadwidth, '自動車が通行できない', value: :d
    - if @user.errors.any?
      - if @user.x_b_floor.blank? && @user.x_floor.blank?
        .error
          %i.fas.fa-exclamation-triangle
          = @x_b_floor
          %i.fas.fa-exclamation-triangle
          = @x_floor
      - elsif @user.x_b_floor.blank?
        .error
          %i.fas.fa-exclamation-triangle
          = @x_b_floor
      - elsif @user.x_floor.blank?
        .error
          %i.fas.fa-exclamation-triangle
          = @x_floor
    .main3__box__contaner
      .main2__box__contaner__top
        お引越し先のご住所
      .main3-title
        .main3-title__left
          郵便番号
        .main3-title__right
          = f.text_field :x_zipcode, class: "main3-title__right__input", placeholder: '任意です　例) 123-1234'
      .main3-title
        .main3-title__left
          都道府県
        .main3-title__right
          = f.collection_select :x_prefecture, Prefecture.all, :id, :name, {prompt: "選択"}, {class: "main3-title__right__prefecture"}
      .main3-title
        .main3-title__left
          建物タイプ
        .main3-title__right
          = f.radio_button :x_building, :a
          = f.label :x_building, 'マンション', value: :a
          = f.radio_button :x_building, :b
          = f.label :x_building, 'アパート', value: :b
          = f.radio_button :x_building, :c
          = f.label :x_building, '戸建て', value: :c
          = f.radio_button :x_building, :d
          = f.label :x_building, 'タワーマンション', value: :d
          = f.radio_button :x_building, :e, checked: true
          = f.label :x_building, 'その他', value: :e
      .main3-title
        .main3-title__left
          建物階数
        .main3-title__right
          = f.select :x_b_floor, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11以上',11]], {prompt: "選択"}, {class: "main3-title__right__floor"}
          階建て
          = f.select :x_floor, [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11以上',11]], {prompt: "選択"}, {class: "main3-title__right__floor2"}
          階へ引越し
      .main3-title
        .main3-title__left
          エレベーター
        .main3-title__right
          = f.radio_button :x_elevator, :a, checked: true
          = f.label :x_elevator, 'あり', value: :a
          = f.radio_button :x_elevator, :b
          = f.label :x_elevator, 'なし', value: :b
      .main3-title
        .main3-title__left
          道幅
        .main3-title__right-road
          = f.radio_button :x_roadwidth, :a, checked: true
          = f.label :x_roadwidth, '自動車2台が余裕ですれ違える', value: :a
          = f.radio_button :x_roadwidth, :b
          = f.label :x_roadwidth, '自動車2台がギリギリですれ違える', value: :b
          = f.radio_button :x_roadwidth, :c
          = f.label :x_roadwidth, '自動車1台が通行できる', value: :c
          = f.radio_button :x_roadwidth, :d
          = f.label :x_roadwidth, '自動車が通行できない', value: :d
    .main2__box__bottom
      .main2__box__bottom__contaner
        = link_to "戻る", simulator2_home_index_path, class: "main2__box__bottom__contaner__btn-m"
        = f.submit "次へ進む", class: "main2__box__bottom__contaner__btn-n"
  = render "footer"